    <ul class="sidebar-menu" data-widget="tree">
    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> <span>Home</span></a></li>
    <li class="treeview">
          <a href="#">
            <i class="fa fa-burger"></i>
            <span>Produtos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Adicionar</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Editar</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Remover</a></li>
          </ul>
        </li>
    <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> 
        <span>Categorias</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
        <li><a href="#">Adicionar</a></li>
        <li><a href="#">Editar</a></li>
        <li><a href="#">Remover</a></li>
        </ul>
    </li>
    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-edit"></i><span>Pedidos</span></a></li>
    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-edit"></i><span>Relatório Vendas</span></a></li>
    <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span> Gráficos de Vendas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Adicionar</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Editar</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Remover</a></li>
          </ul>
        </li>
    </ul>